<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="css/place.css" rel="stylesheet" media="screen">
</head>

<body>
<button href="#" id="86" class="btn btn-primary att_btn" type="button">关注</button>
<button href="#" id="87" class="btn btn-primary att_btn" type="button">关注</button>
<button href="#" id="88" class="btn btn-primary att_btn" type="button">关注</button>


<script src="https://code.jquery.com/jquery.js"></script>
<script>
$('.att_btn').on("click",function(){
		
		 var pid = $(this).attr('id');
		  $.ajax({
			   url: "http://localhost/SchNest/public/attention/attention",
			   processData: false,
			   data:'pid='+pid,
			   type:"POST",
			   cache:false,
			   error: function(){alert("Attention failed!")},
			   success: function(text){
				   alert(text);
				}
		});
	 });
</script>
</body>
</html>
