<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
#apDiv1 {
	position: absolute;
	width: 608px;
	height: 269px;
	z-index: 1;
	left: 67px;
	top: 48px;
}
#apDiv2 {
	position: absolute;
	width: 453px;
	height: 274px;
	z-index: 1;
	left: 119px;
	top: 52px;
}
</style>
</head>

<body>
<div id="apDiv2">
  <form id="form1" name="form1" method="post" action="http://127.0.0.1/SchNest/public/register/register">
    <p>用户名
  <input type="text" name="account" id="account" />
    </p>
    <p>密码：  
      <input type="password" name="password" id="password" />
    </p>
    <p>用户昵称
      <label for="username"></label>
      <input type="text" name="username" id="username" />
      <input type="submit" name="button" id="button" value="提交" />
    </p>
  </form>
</div>
</body>
</html>
